body {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.menu-item {
  color: white;
}

.menu-active {
  color: yellow;
}

.bigchart {
  display: none;
}

@media (min-width: 850px) {
  .bigchart {
    display: contents;
  }
  .smallchart {
    display: none;
  }
}

